<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV6kSuwFD8pgdnMbebYk0kMwAjFx0fMx4</string>
	<key>GCM_SENDER_ID</key>
	<string>642297853297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beringin.loyatly</string>
	<key>PROJECT_ID</key>
	<string>loyalty-c0110</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-c0110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642297853297:ios:04e558d6222c062c9d72d0</string>
</dict>
</plist>